[Unit]
Description=Gunicorn instance for a simple hello world app
After=network.target
[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/var/www/flask-app
ExecStart=/var/www/flask-app/.venv/bin/gunicorn --config gunicorn.conf.py run:app
Restart=always
[Install]
WantedBy=multi-user.target