{% extends "public/templates/public_template.html" %}

{% block title %} Log in {% endblock %}


{% block main %}

<div class="wrap-container">

    <h1>Authorization</h1>

    <div class="container">

        <form action="/auth/register" method="POST">

            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" name="email" value="user@user.com">
            </div>
            <div>
                <label>Password</label>
                <input class="form-control" type="password" name="password" value="">
            </div>

            <button disabled class="btn btn-link"> Forgot Password?</button>
            <button  type="submit" class="btn btn-primary">Enter</button>
        </form>
    </div>
</div>

{% endblock %}